<h1>Shopping List</h1>

<% @items.each do |item| %>
<li>
  <%= item.name %>
  <form action="/shopping-list/<%= item.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete">
  </form>
  <form action="/shopping-list/<%= item.id %>/edit" method="get">
    <input type="submit" value="Edit">
  </form>
</li>
<% end %>

<br>

<a href="/shopping-list/new">Add item</a>
